ul, p, .content, .box {
	margin: 7px 0;
}
ul {
	list-style: none;
	padding-left: 14px;
}
a {
	color: #036;
	margin: 0 1px;
	text-decoration: none;
}
h1, h2 {
	text-shadow: 1px 1px 2px #AAA;
}
h1 {
	color: #777;
	font-size: 16px;
}
h2 {
	font-size: 20px;
}
input[type="text"], input[type="password"], textarea {
	border: 1px solid #CCC;
	color: #555;
	border-radius: 4px;
}
textarea {
	width: 100%;
}
input[type="text"] {
	width: 50%;
}
.img {
	max-width: 320px;
	max-height: 320px;
	border: 0;
	margin: 10px;
}
.block {
	padding: 5px 10px;
	margin: 5px;
	color: #777;
	border: 1px dashed #777;
	background-color: #EEE;
	font-family: monospace;
	font-size: 10px;
	white-space: pre-wrap;
}
#menu {
	border-bottom: 1px dotted #777;
	text-align: right;
}
#container {
	width: 900px;
	margin: auto;
}
#main {
	float: left;
	width: 600px;
}
#sidebar {
	float: right;
	width: 260px;
}
#footer {
	clear: both;
}
#footer ul {
	padding: 0;
}
.button, .msg, #menu ul li, #footer ul li, #page ul li, .meta ul li {
	padding: 2px 4px;
	margin: 4px;
	display: inline-block;
	border-radius: 4px;
}
.msg, #menu ul li a {
	color: #FFF;
}
.button, #page ul li {
	background-color: #E0EAF1;
}
.msg {
	background-color: #9A4444;
}
.box {
	padding: 7px 14px;
	border: 1px solid #CCC;
}
.quote {
	color: #789922;
}
.title {
	font-weight: bold;
}
.meta {
	text-align: right;
}
.meta ul li {
	background-color: #FFEFC6;
}
.post, .reply {
	padding: 14px 7px 0 7px;
	border-bottom: 1px dotted #777;
}
:target {
	background-color: #FFD;
}
#page {
	text-align: center;
}
