ul, p, .content {
	margin: 7px 0;
}
ul {
	list-style: none;
	padding-left: 14px;
}
a {
	color: #036;
	margin: 0 1px;
	text-decoration: none;
}
h1, h2 {
	text-shadow: 1px 1px 2px #AAA;
}
.thumbnail {
	max-width: 320px;
}
h1 {
	color: #777;
	font-size: 16px;
}
h2 {
	font-size: 20px;
}
textarea {
	width: 100%;
}
#footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #e5e5e5;
}
#footer span {
	margin-right: 20px;
}
.label {
	margin: 4px 4px 4px 0;
}
.title {
	font-weight: bold;
}
.post, .reply {
	padding: 7px;
	border-bottom: 1px solid #777;
}
:target {
	background-color: #FFD;
}
